.Tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 0px;
  /* padding: 10px; */
  gap: 5px;
  background-image: linear-gradient(to bottom right, magenta, #28282b, magenta);
  border: 2px solid linear-gradient(to bottom right, magenta, #28282b, magenta);
  width: 200px;
  height: fit-content;
  min-height: fit-content;
  padding-bottom: 20px;
  border-radius: 10px;
  color: whitesmoke;
}

.Tile > img {
  height: 200px;
  width: 100%;
  border-radius: 10px;
  /* border: 1px solid black; */
}

.rating {
  display: flex;
  align-items: center;
  gap: 5px;
  color: lightsalmon;
  font-size: 15px;
}

.genres {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* margin: 2px; */
  text-align: center;
  /* background-color: antiquewhite; */
}
.genres > span {
  font-size: 14px;
  color: black;
  border: 1px solid;
  padding: 4px;
  margin: 2px;
  background-color: rgb(213, 210, 210);
  border-radius: 10px;
}

.showButton {
  margin-top: 5px;
  font-size: 15px;
  padding: 5px;
  border-radius: 10px;
  background-color: rgb(255, 170, 86);
  border: 2px solid rgb(235, 126, 16);
  width: 70px;
}
.showButton:hover {
  opacity: 80%;
}
.showButton:active {
  box-shadow: inset 2px 2px 2px 0.5px rgb(235, 126, 16);
}

@media screen and (max-width: 850px) {
  .Tile {
    width: 200px;
    gap: 5px;
    min-height: 300px;
  }
  .Tile > img {
    height: 150px;
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .Tile {
    width: 100px;
    gap: 5px;
    min-height: 100px;
    font-size: 10px;
    text-align: center;
  }

  .Tile > img {
    height: 100px;
    width: 100%;
  }

  .rating {
    display: none;
    /* font-size: 12px;
    gap: 2px; */
  }

  .genres > span {
    display: none;
    /* padding: 0px;
    font-size: 10px;
    border: none;
    background-color: unset; */
  }

  .showButton {
    font-size: 10px;
    font-weight: bold;
    padding: 2px;
  }
}
