.Summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px 2%;
  margin: 10px 2%;
  margin-top: 100px;
  border: 2px solid;
  border-radius: 10px;
  background-image: linear-gradient(to bottom left, #fff, #28282b);
  color: rgb(66, 4, 66);
  text-shadow: 0px 0px 16px #fff;
  padding-bottom: 20px;
}

.Close-Button {
  align-self: flex-end;
  font-size: 20px;
  font-family: "Lucida Sans";
  padding: 5px 11px;
  border-radius: 50%;
}
.Close-Button:hover {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.Close-Button:active {
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.Title {
  font-size: 42px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.Rating {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.summary-container {
  background-color: rgba(0, 0, 0, 0.2);
  overflow: scroll;
  margin: 20px 0px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  border-radius: 20px;
  padding: 2px 10px 2px 0px;
  text-shadow: none;
  color: black;
}

.summary-container > img {
  height: 260px;
  width: 200px;
  border-radius: 10px;
  padding: 2px;
  border: 3px solid;
}

.genres_summary > span {
  font-size: 17px;
  /* text-shadow: 2px 2px 3px black; */
  border-radius: 20px;
  margin: 5px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  color: black;
}

.summaryButtons {
  display: flex;
}

.material {
  font-size: 20px;
}

.readMore {
  background-color: rgb(255, 103, 255);
  display: flex;
  color: #fff;
  box-shadow: 0px 2px 12px 2px black;
  align-items: center;
  justify-content: space-around;
  margin: 20px;
  padding: 10px;
  width: 200px;
  font-size: 20px;
  border-radius: 15px;
  border: 2px solid black;
  cursor: pointer;
}

.bookTickets {
  background-color: rgb(247, 25, 25);
  color: #fff;
  box-shadow: 0px 2px 12px 2px black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px;
  padding: 10px;
  width: 200px;
  font-size: 20px;
  border-radius: 15px;
  border: 2px solid black;
  cursor: pointer;
}

p {
  font-size: 20px;
}

.bookTickets:active {
  font-size: 18px;
  box-shadow: inset 0px 0px 0.5px 2px rgb(48, 242, 48);
}

.readMore:active {
  font-size: 18px;
  box-shadow: inset 0px 0px 5px 2px black;
}

@media screen and (max-width: 850px) {
  .Summary {
    text-align: center;
  }
  .summary-container {
    flex-direction: column;
    max-height: 300px;
    padding: 0px;
    overflow: hidden;
  }

  .summary-container > img {
    border-radius: 20px;
    height: 300px;
    width: 400px;
  }
  .summary-container > div > div {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .Summary {
    position: relative;
    bottom: 150px;
    max-height: 400px;
    font-size: 12px;
  }
  .Title {
    font-size: 30px;
  }
  .genres_summary > span {
    font-size: 12px;
  }
  p {
    font-size: 11px;
  }
  .summary-container > div > div {
    display: block;
    overflow: scroll;
  }

  .summary-container {
    padding: 10px;
    flex-direction: column;
    overflow: scroll;
    max-height: 500px;
  }
  .summary-container > img {
    height: 100px;
    width: 150px;
  }

  .summary-container > div > h2 {
    font-size: 15px;
  }
  .summary-container {
    text-align: center;
  }

  .hid {
    display: none;
  }

  .readMore {
    margin: 10px;
    padding: 5px;
    width: 100px;
    font-size: 10px;
    border-radius: 10px;
  }
  .bookTickets {
    margin: 10px;
    padding: 5px;
    width: 100px;
    font-size: 12px;
    border-radius: 10px;
  }
}
