* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 120vh;
  display: flex;
  background-color: rgb(255, 223, 182);
  align-items: center;
}

.Container {
  flex: 1;
  background: white;
  height: fit-content;
  min-height: 100%;
  border-right: 2px solid black;
}
.Summary {
  flex: 1;
  /* min-height: 100%; */
  background: white;
  height: fit-content;
}

@media screen and (max-width: 850px) {
  .App {
    background-color: rgb(100, 156, 236);
  }
}

@media screen and (max-width: 450px) {
  .App {
    background-color: antiquewhite;
    flex-direction: column;
  }

  .Summary {
    height: 400px;
  }

  .Container {
    min-height: 200px;
  }
}
