* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 120vh;
  display: flex;
  background-image: linear-gradient(to top left, #fff, #28282b, #fff);
  /* align-items: center; */
}

.Container {
  flex: 1;
  background: white;
  height: fit-content;
  min-height: 100%;
  border-right: 2px solid black;
}
.Summary {
  flex: 1;
  background: white;
  height: fit-content;
}

@media screen and (max-width: 850px) {
  .App {
    /* background-image: linear-gradient(to bottom right, #28282b, #fff); */
  }
}

@media screen and (max-width: 450px) {
  .App {
    /* background-image: linear-gradient(to bottom right, #28282b, #fff); */
    flex-direction: column;
  }

  .Summary {
    height: 400px;
  }

  .Container {
    min-height: 200px;
  }
}
